# Source https://github.com/sandos187/spotislack
# OriginalSource https://github.com/snod/slack-now-playing-spotify
# props to snod for the idea
#
#
#############################
# Configuration for slack
[slack]
# create an app for your workspace here: https://api.slack.com/apps and add an incoming webhook to it
# this webhook is placed here
slack_url = <url here>

# the channel to post the message to
slack_channel = #channelname

# the color of the message's border
slack_color = 2eb886

# the icon to use as a footer image
slack_footer_icon = <url to an icon>

# your username which you would like to be displayed in slack when using this script
slack_username = <your slack username>
#############################

#############################
# Configuration for Spotify
[spotify]
# Your Spotify Username
spotipy_username = <username>

# get your app credentials here: https://developer.spotify.com/dashboard/login
spotipy_client_id = <client_id>
spotipy_client_secret = <client_secret>

# here even an invalid URL is sufficient. Set it in the app settings
spotipy_redirect_uri = <some url>

### End of Config